@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
/* iconos de bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  width: auto;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", serif;
  background-image: url(/img/45degreee_fabric.png);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin-top: 3rem;
  border: solid thick #fff;
}

@media screen and (min-width: 300px) {
  .portada__heading p {
    font-size: small;
  }
}
@media (min-width: 480px) {
  .portada__container {
    width: 300px;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 600x) {
  .portada__container {
    width: 480px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .portada__heading p {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .portada__container {
    width: 600px;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .portada__container {
    width: 800px;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .portada__container {
    width: 1140px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .portada__heading p {
    font-size: larger;
  }
}
@media (min-width: 1400px) {
  .portada__container {
    width: 1340px;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .portada__container {
    width: 1520px;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 2300px) {
  .portada__container {
    width: 2200px;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
.header a {
  font-size: 1.2rem;
  font-weight: 500;
}
.header a.dropdown-item:hover {
  background-color: gray;
}
.header .navbar-toggler {
  z-index: 2;
}
.header .navbar-brand {
  margin-right: 0 10px 0 15px;
}
.header .boton-sesion {
  margin-right: 50px;
}
.header nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex.row {
  margin-right: 0px !important;
}

.portada {
  position: relative;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
.portada .portada__container {
  width: 100%;
  padding: 0 6rem;
  margin: 0;
}
.portada .portada__container .portada__heading {
  z-index: 100;
}

.portada__heading p {
  font-size: 1rem;
}

.portada__video {
  position: absolute;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: 100rem;
  transform: translateX(-25%) translateY(-5%);
}

.portada__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark);
  opacity: 0.3;
  z-index: 1;
}

a.mt-2.btn.btn-lg.btn-outline-dark {
  z-index: 100;
}

.portada__scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.portada__scroll-btn:hover {
  color: darkred;
  animation: none;
  transition: none;
}

.portada__scroll-btn .bi {
  transition-delay: 0.8s;
  animation: flecha 1s infinite alternate;
}

@keyframes flecha {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 375px) {
  .portada__scroll-btn {
    display: none;
  }
}
#programas {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bs-secondary);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: #8f0f0f;
}

a:active {
  color: goldenrod;
}

.badge {
  display: block;
  align-self: center;
}

.badge h2 {
  font-weight: 700;
  text-align: bottom;
  padding-top: 10px;
}

.contenido {
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(/img/connectwork.png);
}

.contenido .contenido__heading {
  font-weight: 500;
  padding-left: 15px;
}

.contenido #antonio {
  background-color: rgba(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido #flo {
  background-color: rgba(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido #shifu {
  background-color: rgba(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido #rinpoche {
  background-color: rgba(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido .row {
  margin-right: 0;
}

.footer a img {
  margin: 10px;
}

.footer p {
  text-align: bottom;
}

.referentes {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.referentes .ref-individual {
  background: #fff;
  margin: 15px 15px 50px 15px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.referentes .ref-individual h3 {
  color: #1d1d1d;
  font-size: 26px;
  margin-top: 50px;
}

.referentes .ref-individual p.rol {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.referentes .ref-individual .ref_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background: #fff;
  border: 5px #1d1d1d;
}

.referentes .ref-individual .ref_img img {
  width: 120px;
  height: 120px;
  padding: 5px;
}

.container__yoga {
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(/img/connectwork.png);
}

.img-fluid {
  padding: 2rem;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
