#programas {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bs-secondary);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: #8f0f0f;
}

a:active {
  color: goldenrod;
}

.badge {
  display: block;
  align-self: center;
}
.badge h2 {
  font-weight: 700;
  text-align: bottom;
  padding-top: 10px;
}

.contenido {
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  background-image:url(/img/connectwork.png);
}

.contenido .contenido__heading {
  font-weight: 500;
  padding-left: 15px;
}

.contenido #antonio {
  background-color: rgb(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido #flo {
  background-color: rgb(44, 44, 44, 0.2);
  padding: 40px;
  
}

.contenido #shifu {
  background-color: rgb(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido #rinpoche {
  background-color: rgb(44, 44, 44, 0.2);
  padding: 40px;
}

.contenido .row {
  margin-right: 0;
}