.header {
    a {
        font-size: 1.2rem;
    font-weight: 500;

    &.dropdown-item:hover {
        background-color: gray;
    }
}

.navbar-toggler {
    z-index: 2;
}

.navbar-brand {
    margin-right: 0 10px 0 15px;
}

.boton-sesion {
    margin-right: 50px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex.row {
    margin-right:0px!important;
}
}