.portada {
    position: relative;
    height: 100vh;
    background-color: black;
    overflow: hidden;

    .portada__container {
      width: 100%;
      padding: 0 6rem;
      margin: 0;

      .portada__heading {
        z-index: 100;
      }
    }
  }

  .portada__heading p {
    font-size: 1rem;
  }

  .portada__video {
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: 100rem;
    transform: translateX(-25%) translateY(-5%);
  }

  .portada__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    opacity: 0.3;
    z-index: 1;
  }
   
  a.mt-2.btn.btn-lg.btn-outline-dark {
    z-index: 100;
  }

  .portada__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;

    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

  }

  .portada__scroll-btn:hover {
    color: darkred;

    animation: none;
    transition: none;
  }

  .portada__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: flecha 1s infinite alternate;
  }

  @keyframes flecha {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-10px);
    }
  }

  @media screen and (max-width: 375px) {
    .portada__scroll-btn {
      display: none;
    }

  }