.container__yoga {
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    background-image:url(/img/connectwork.png);
  }


.img-fluid {
padding: 2rem;
height: 100%;
width: 100%;
}